{% extends 'base.html.twig' %}

{% block body %}

<div class="" style="margin:150px">
  <h1 class="red-text"> Bienvenidos   </h1> 
  <h3>Sistema de Gestión de Estudios Cardiológicos </h3>

</div>

{% endblock %}
