{% extends 'base.html.twig' %}

{% block body %}
<br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estadisticas_tipo_estudio') }}"> Tipo de Estudio y Cantidad  </a>

{% endblock %}
