{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grupo diagnosticos</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for grupoDiagnostico in grupoDiagnosticos %}
            <tr>
                <td>{{ grupoDiagnostico.nombre }}</td>
                <td>
                            <a href="{{ path('grupodiagnostico_edit', { 'id': grupoDiagnostico.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grupodiagnostico_new') }}">Create a new grupoDiagnostico</a>
        </li>
    </ul>
{% endblock %}
