{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">done</i><input type="submit"></a>Confirmar Edicion
    {{ form_end(edit_form) }}
    <ul>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light yellow" href="{{ path('paciente_index') }}"><i class="material-icons">arrow_back</i></a>Volver al listado de Pacientes
        </li>
    </ul>
{% endblock %}
