{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Estudio {{ estudio.estudioConfiguracion.nombre }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="/paciente">Volver al paciente</a>
        </li>
    </ul>
{% endblock %}
