<table>
  <tr>
    <td>     <img  src="{{  base_dir ~ asset('image/logo.png') }}" alt="" height="65" width="90"> </td>
    <td>
      Hospital Interzonal General de Agudos <br>
      General José de San Martín  <br>
      Cardiología
  </td>
  </tr>
</table>
<hr>
