{% extends 'base.html.twig' %}

{% block body %}
<h4 class="red-text">Estudios para agregar al paciente: <b> {{paciente.nombre}} </b></h4>
<ul>
{% for estudio in nombreEstudios %}
<li>
<a href="/{{estudio.link}}/new/paciente/{{paciente.id}}">{{estudio.nombre}}</a>
</li>
{% endfor %}
</ul>
{% endblock %}
