{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Médico</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value=" Confirmar Edición " />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('medico_index') }}">Volver al listado de Médicos</a>
        </li>

    </ul>
{% endblock %}
